<section class="alumni-section">
            <div class="container">
                <h4>Our Alumni Work with Top Firms</h4>
                <div class="row alumni-logos d-flex justify-content-center">
                    <!-- Replace the src with your actual company logos -->
                    <div class="col-md-2 col-6">
                        <img src="images/Recogniation/winwire-1.png" alt="Winwire">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/imagesmain/c2.webp" alt="Amazon">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/imagesmain/c3.webp" alt="Microsoft">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/imagesmain/c4.webp" alt="Facebook">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/Recogniation/capgemini.png" alt="Facebook">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/Recogniation/darwinbox.png" alt="Facebook">
                    </div>


                </div>
                <div class="row alumni-logos d-flex justify-content-center">
                    <!-- Replace the src with your actual company logos -->

                    <div class="col-md-2 col-6">
                        <img src="images/imagesmain/c9.webp" alt="Microsoft">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/imagesmain/c10.webp" alt="Facebook">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/imagesmain/c11.webp" alt="IBM">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/imagesmain/c12.webp" alt="TCS">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/Recogniation/tcs.png" alt="Facebook">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/Recogniation/toshiba.png" alt="Facebook">
                    </div>

                </div>
                <div class="row alumni-logos d-flex justify-content-center">
                    <!-- Replace the src with your actual company logos -->
                    <div class="col-md-2 col-6">
                        <img src="images/imagesmain/c5.webp" alt="IBM">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/imagesmain/c6.webp" alt="TCS">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/Recogniation/accenture.png" alt="IBM">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/Recogniation/wipro.png" alt="TCS">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/Recogniation/cognizant.png" alt="Facebook">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="images/Recogniation/ss.png" alt="Facebook">
                    </div>

                </div>
            </div>
        </section>