<section class="contact-us-section bg-white" id="homepageContact">
            <div class="container">
                <div class="row">
                    <!-- Contact Information -->
                    <div class="col-md-5 contact-info">
                        <h2>Get in Touch</h2>
                        <p>Connect with us to explore our hands-on, industry-focused courses designed to elevate your
                            skills
                            and career prospects. Discover learning tailored for real-world success!</p>
                        <div class="contact-details">

                            <p><i class="fas fa-phone"></i> <a
                                    href="https://wa.me/916301099587?text=Hello%20!!.%20 I want to Know About%20to%20codebegun"
                                    id="contactus">+91-6301099587</a></p>
                            <p><i class="fas fa-envelope"></i> <a href="mailto:hr@codebegun.com"
                                    id="contactus">hr@codebegun.com</a></p>
                        </div>
                    </div>

                    <!-- Contact Form -->
                   
                    <!-- <div name="submit-to-google-sheet" class="col-md-7 contact-form" id="contact-form">
                        <form class="GetInTouch" name="submit-to-google-sheet" id="contactForm">
                            <input type="text" class="form-control" name="fullName" id="fullName"
                                placeholder="Enter Full Name" required>
                            <span class="errorMessage" id="nameError" style="color: red;"></span>

                            <input type="text" class="form-control" name="mobileNumber" id="mobileNumber"
                                placeholder="Enter Mobile Number" required maxlength="10">
                            <span class="errorMessage" id="mobileNumberError" style="color: red;"></span>

                            <input type="email" class="form-control" name="emailAdd" id="emailAdd"
                                placeholder="Enter Email Address" required>
                            <span class="errorMessage" id="emailError" style="color: red;"></span>

                            <div class="my-3">
                                <label for="internshipSelect" class="form-label">Select Course:</label>
                                <select class="form-select" id="internshipSelect" name="internship">
                                    <option value="" disabled selected>-- Choose a Course --</option>
                                    <option value="java">Java FullStack</option>
                                    <option value="python">Python FullStack</option>
                                    <option value="angular">Angular Developement</option>
                                    <option value="react">React Developement</option>
                                    <option value="data-science">Data Science </option>
                                    <option value="data-analyst">Data Analyst</option>
                                    <option value=".net">.Net FullStack </option>
                                    <option value="cloudcomputing">Cloud Computing</option>
                                    <option value="mern">Mern Stack</option>
                                    <option value="mean">Mean Stack</option>
                                    <option value="ai&ml">AI&ML</option>
                                    <option value="gen-ai">Gen AI</option>
                                </select>
                            </div>

                            <textarea class="form-control" rows="3" name="message" id="message"
                                placeholder="Enter Your Message" required></textarea>
                            <span class="errorMessage" id="messageError" style="color: red;"></span>

                            <button type="submit" class="btn submit-btn" id="submitButton"
                                onclick="validateForm()">Submit</button>
                            <div class="success" id="successMessage" style="color: green;"></div>
                        </form>
                    </div> -->


                    <div   name="submit-to-google-sheet" class="col-md-7 contact-form" id="contact-form">
                        <form class="GetInTouch" name="submit-to-google-sheet" id="contactForm">
                            <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Enter Full Name" required>
                            <span class="errorMessage" id="nameError" style="color: red;"></span>
                    
                            <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" placeholder="Enter Mobile Number" required maxlength="10">
                            <span class="errorMessage" id="mobileNumberError" style="color: red;"></span>
                    
                            <input type="email" class="form-control" name="emailAdd" id="emailAdd" placeholder="Enter Email Address" required>
                            <span class="errorMessage" id="emailError" style="color: red;"></span>
                    
                            <div class="my-3">
                                <label for="internshipSelect" class="form-label">Select Course:</label>
                                <select class="form-select" id="internshipSelect" name="course">
                                    <option value="" disabled selected>-- Choose a Course --</option>
                                    <option value="java">Java FullStack</option>
                                    <option value="python">Python FullStack</option>
                                    <option value="angular">Angular Development</option>
                                    <option value="react">React Development</option>
                                    <option value="data-science">Data Science</option>
                                    <option value="data-analyst">Data Analyst</option>
                                    <option value=".net">.Net FullStack</option>
                                    <option value="cloudcomputing">Cloud Computing</option>
                                    <option value="mern">MERN Stack</option>
                                    <option value="mean">MEAN Stack</option>
                                    <option value="ai&ml">AI & ML</option>
                                    <option value="gen-ai">Gen AI</option>
                                </select>
                            </div>
                    
                            <textarea class="form-control" rows="3" name="message" id="message" placeholder="Enter Your Message" required></textarea>
                            <span class="errorMessage" id="messageError" style="color: red;"></span>
                    
                            <button type="button" class="btn submit-btn" id="submitButton" onclick="handleFormSubmit()">Submit</button>
                            <div class="success" id="successMessage" style="color: green;"></div>
                        </form>
                    </div>
                    
                    
                </div>
            </div>
        </section>