<section class="courses-section py-5 mt-3 bg-light" id="course-list">
            <div class="container">
                <h4> Offered Courses</h4>
                <div class="row" id="courses-offered">
                    <div class="col-md-5 smspace">
                        <div class="course-card">
                            <img src="images/Courses/js4.png" alt="Course Image">
                            <div class="card-body">
                                <p class="session-info">
                                    <i class="bi bi-calendar"></i> 40 Sessions
                                </p>
                                <p class="duration-info">
                                    <i class="bi bi-clock"></i> 12 Weeks
                                </p>
                                <h5 id="card-offered-courses">JAVA Full Stack</h5>
                                <div class="rating">
                                    ★★★★☆ (4.9)
                                </div>
                                <p class="skills">
                                    Java | HTML | CSS | JavaScript | React
                                </p>
                                <p class="mb-3">Hybrid with Job Assistance</p>
                                <a href="pages/javafullstackmain.html" class="btn btn-primary explore-btn">Explore
                                    Now</a>
                                <a href="pages/javafullstackmain.html" class="btn btn-success buy-btn">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <!-- Course Card 2 -->
                    <!--<div class="col-md-3 smspace">-->
                    <!--    <div class="course-card">-->
                    <!--        <img src="images/Courses/reactjs.png" alt="Course Image">-->
                    <!--        <div class="card-body">-->
                    <!--            <p class="session-info">-->
                    <!--                <i class="bi bi-calendar"></i> 36 Sessions-->
                    <!--            </p>-->
                    <!--            <p class="duration-info">-->
                    <!--                <i class="bi bi-clock"></i> 10 Weeks-->
                    <!--            </p>-->
                    <!--            <h5 id="card-offered-courses">MERN Stack </h5>-->
                    <!--            <div class="rating">-->
                    <!--                ★★★★★ (4.9)-->
                    <!--            </div>-->
                    <!--            <p class="skills">-->
                    <!--                React | Expess | Node | MongoDB-->
                    <!--            </p>-->
                    <!--            <p class="mb-3">Hybrid with Job Assistance</p>-->
                    <!--            <a href="pages/mernStack.html" class="btn btn-primary explore-btn">Explore Now</a>-->
                    <!--            <a href="pages/mernStack.html" class="btn btn-success buy-btn">Get Started</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!-- Course Card 3 -->
                    <!--<div class="col-md-3 smspace">-->
                    <!--    <div class="course-card">-->
                    <!--        <img src="images/Courses/python.png" alt="Course Image">-->
                    <!--        <div class="card-body">-->
                    <!--            <p class="session-info">-->
                    <!--                <i class="bi bi-calendar"></i> 40 Sessions-->
                    <!--            </p>-->
                    <!--            <p class="duration-info">-->
                    <!--                <i class="bi bi-clock"></i> 12 Weeks-->
                    <!--            </p>-->
                    <!--            <h5 id="card-offered-courses">Python Full Stack</h5>-->
                    <!--            <div class="rating">-->
                    <!--                ★★★★☆ (4.8)-->
                    <!--            </div>-->
                    <!--            <p class="skills">-->
                    <!--                HTML | CSS | JavaScript | React | Python-->
                    <!--            </p>-->
                    <!--            <p class="mb-3">Hybrid with Job Assistance</p>-->
                    <!--            <a href="pages/pythonfullStack.html" class="btn btn-primary explore-btn">Explore Now</a>-->
                    <!--            <a href="pages/pythonfullStack.html" class="btn btn-success buy-btn">Get Started</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!-- Course Card 4 -->
                    <!--<div class="col-md-3 smspace">-->
                    <!--    <div class="course-card">-->
                    <!--        <img src="images/Courses/ml.gif" alt="Course Image">-->
                    <!--        <div class="card-body">-->
                    <!--            <p class="session-info">-->
                    <!--                <i class="bi bi-calendar"></i> 36 Sessions-->
                    <!--            </p>-->
                    <!--            <p class="duration-info">-->
                    <!--                <i class="bi bi-clock"></i> 10 Weeks-->
                    <!--            </p>-->
                    <!--            <h5 id="card-offered-courses">.Net FullStack</h5>-->
                    <!--            <div class="rating">-->
                    <!--                ★★★★★ (4.9)-->
                    <!--            </div>-->
                    <!--            <p class="skills">-->
                    <!--                HTML | CSS | C# | SQL Server | LINQ -->
                    <!--            </p>-->
                    <!--            <p class="mb-3">Hybrid with Job Assistance</p>-->
                    <!--            <a href="pages/dotNet.html" class="btn btn-primary explore-btn">Explore Now</a>-->
                    <!--            <a href="pages/dotNet.html" class="btn btn-success buy-btn">Get Started</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!-- Course Card 1 -->

                    

                </div>
                <div class="row mt-4 smspace">
                    <!-- Course Card 1 -->
                    <!--<div class="col-md-3 smspace">-->
                    <!--    <div class="course-card">-->
                    <!--        <img src="images/Courses/reactjs.png" alt="Course Image">-->
                    <!--        <div class="card-body">-->
                    <!--            <p class="session-info">-->
                    <!--                <i class="bi bi-calendar"></i> 36 Sessions-->
                    <!--            </p>-->
                    <!--            <p class="duration-info">-->
                    <!--                <i class="bi bi-clock"></i> 10 Weeks-->
                    <!--            </p>-->
                    <!--            <h5 id="card-offered-courses">React Js Development</h5>-->
                    <!--            <div class="rating">-->
                    <!--                ★★★★★ (4.9)-->
                    <!--            </div>-->
                    <!--            <p class="skills">-->
                    <!--                HTML | CSS | JavaScript | React-->
                    <!--            </p>-->
                    <!--            <p class="mb-3">Hybrid with Job Assistance</p>-->
                    <!--            <a href="pages/reactJsDevelopment.html" class="btn btn-primary explore-btn">Explore-->
                    <!--                Now</a>-->
                    <!--            <a href="pages/reactJsDevelopment.html" class="btn btn-success buy-btn">Get Started</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!-- Course Card 2 -->
                    <!--<div class="col-md-3 smspace">-->
                    <!--    <div class="course-card">-->
                    <!--        <img src="images/Courses/angular.png" alt="Course Image">-->
                    <!--        <div class="card-body">-->
                    <!--            <p class="session-info">-->
                    <!--                <i class="bi bi-calendar"></i> 50 Sessions-->
                    <!--            </p>-->
                    <!--            <p class="duration-info">-->
                    <!--                <i class="bi bi-clock"></i> 20 Weeks-->
                    <!--            </p>-->
                    <!--            <h5 id="card-offered-courses">Angular Development</h5>-->
                    <!--            <div class="rating">-->
                    <!--                ★★★★☆ (4.9)-->
                    <!--            </div>-->
                    <!--            <p class="skills">-->
                    <!--                HTML | CSS | JavaScript | Angular-->
                    <!--            </p>-->
                    <!--            <p class="mb-3">Online With Job Assistance</p>-->
                    <!--            <a href="pages/angularJsDevelopment.html" class="btn btn-primary explore-btn">Explore-->
                    <!--                Now</a>-->
                    <!--            <a href="pages/angularJsDevelopment.html" class="btn btn-success buy-btn">Get-->
                    <!--                Started</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!-- Course Card 3 -->

                    <!--<div class="col-md-3 smspace">-->
                    <!--    <div class="course-card">-->
                    <!--        <img src="images/Courses/angular.png" alt="Course Image">-->
                    <!--        <div class="card-body">-->
                    <!--            <p class="session-info">-->
                    <!--                <i class="bi bi-calendar"></i> 50 Sessions-->
                    <!--            </p>-->
                    <!--            <p class="duration-info">-->
                    <!--                <i class="bi bi-clock"></i> 20 Weeks-->
                    <!--            </p>-->
                    <!--            <h5 id="card-offered-courses">MEAN Stack</h5>-->
                    <!--            <div class="rating">-->
                    <!--                ★★★★☆ (4.9)-->
                    <!--            </div>-->
                    <!--            <p class="skills">-->
                    <!--                MongoDB | Express | Angular | Node-->
                    <!--            </p>-->
                    <!--            <p class="mb-3">Online With Job Assistance</p>-->
                    <!--            <a href="pages/meanStack.html" class="btn btn-primary explore-btn">Explore Now</a>-->
                    <!--            <a href="pages/meanStack.html" class="btn btn-success buy-btn">Get Started</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!-- Course Card 4 -->
                    <!--<div class="col-md-3 smspace">-->
                    <!--    <div class="course-card">-->
                    <!--        <img src="images/Courses/ds1.gif" alt="Course Image">-->
                    <!--        <div class="card-body">-->
                    <!--            <p class="session-info">-->
                    <!--                <i class="bi bi-calendar"></i> 44 Sessions-->
                    <!--            </p>-->
                    <!--            <p class="duration-info">-->
                    <!--                <i class="bi bi-clock"></i> 16 Weeks-->
                    <!--            </p>-->
                    <!--            <h5 id="card-offered-courses">Data Science</h5>-->
                    <!--            <div class="rating">-->
                    <!--                ★★★★☆ (4.8)-->
                    <!--            </div>-->
                    <!--            <p class="skills">-->
                    <!--                Statistics | Visualization | EDA | BI-->
                    <!--            </p>-->
                    <!--            <p class="mb-3">Hybrid with Job Assistance</p>-->
                    <!--            <a href="pages/datascience.html" class="btn btn-primary explore-btn">Explore Now</a>-->
                    <!--            <a href="pages/datascience.html" class="btn btn-success buy-btn">Get Started</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                </div>

                <!-- Course Card 1 -->

                <div class="row mt-4 smspace">
                    <!--<div class="col-md-3">-->
                    <!--    <div class="course-card">-->
                    <!--        <img src="images/Courses/dataanalyst.png" alt="Course Image">-->
                    <!--        <div class="card-body">-->
                    <!--            <p class="session-info">-->
                    <!--                <i class="bi bi-calendar"></i> 44 Sessions-->
                    <!--            </p>-->
                    <!--            <p class="duration-info">-->
                    <!--                <i class="bi bi-clock"></i> 16 Weeks-->
                    <!--            </p>-->
                    <!--            <h5 id="card-offered-courses">Data Analytics</h5>-->
                    <!--            <div class="rating">-->
                    <!--                ★★★★☆ (4.8)-->
                    <!--            </div>-->
                    <!--            <p class="skills">-->
                    <!--                Statistics | Visualization | EDA | BI-->
                    <!--            </p>-->
                    <!--            <p class="mb-3">Hybrid with Job Assistance</p>-->
                    <!--            <a href="pages/dataAnalytics.html" class="btn btn-primary explore-btn">Explore Now</a>-->
                    <!--            <a href="pages/dataAnalytics.html" class="btn btn-success buy-btn">Get Started</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!-- Course Card 2 -->

                    <!--<div class="col-md-3 smspace">-->
                    <!--    <div class="course-card">-->
                    <!--        <img src="images/Courses/ds1.gif" alt="Course Image">-->
                    <!--        <div class="card-body">-->
                    <!--            <p class="session-info">-->
                    <!--                <i class="bi bi-calendar"></i> 44 Sessions-->
                    <!--            </p>-->
                    <!--            <p class="duration-info">-->
                    <!--                <i class="bi bi-clock"></i> 16 Weeks-->
                    <!--            </p>-->
                    <!--            <h5 id="card-offered-courses">GEN AI</h5>-->
                    <!--            <div class="rating">-->
                    <!--                ★★★★☆ (4.8)-->
                    <!--            </div>-->
                    <!--            <p class="skills">-->
                    <!--                Statistics | Visualization | EDA | BI-->
                    <!--            </p>-->
                    <!--            <p class="mb-3">Hybrid with Job Assistance</p>-->
                    <!--            <a href="pages/genAI.html" class="btn btn-primary explore-btn">Explore Now</a>-->
                    <!--            <a href="pages/genAI.html" class="btn btn-success buy-btn">Get Started</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->




                    <!-- Course Card 3 -->
                    <!--<div class="col-md-3 smspace">-->
                        <!--<div class="course-card">-->
                        <!--    <img src="images/Courses/ml.gif" alt="Course Image">-->
                        <!--    <div class="card-body">-->
                        <!--        <p class="session-info">-->
                        <!--            <i class="bi bi-calendar"></i> 36 Sessions-->
                        <!--        </p>-->
                        <!--        <p class="duration-info">-->
                        <!--            <i class="bi bi-clock"></i> 10 Weeks-->
                        <!--        </p>-->
                        <!--        <h5 id="card-offered-courses">AI&Ml</h5>-->
                        <!--        <div class="rating">-->
                        <!--            ★★★★★ (4.9)-->
                        <!--        </div>-->
                        <!--        <p class="skills">-->
                        <!--            Python | AI | Data Science-->
                        <!--        </p>-->
                        <!--        <p class="mb-3">Hybrid with Job Assistance</p>-->
                        <!--        <a href="pages/ai&Ml.html" class="btn btn-primary explore-btn">Explore-->
                        <!--            Now</a>-->
                        <!--        <a href="pages/ai&Ml.html" class="btn btn-success buy-btn">Get-->
                        <!--            Started</a>-->
                        <!--    </div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!-- Course Card 4 -->
                    <!--<div class="col-md-3 smspace">-->
                    <!--    <div class="course-card">-->
                    <!--        <img src="images/Courses/ccing.gif" alt="Course Image">-->
                    <!--        <div class="card-body">-->
                    <!--            <p class="session-info">-->
                    <!--                <i class="bi bi-calendar"></i> 50 Sessions-->
                    <!--            </p>-->
                    <!--            <p class="duration-info">-->
                    <!--                <i class="bi bi-clock"></i> 20 Weeks-->
                    <!--            </p>-->
                    <!--            <h5 id="card-offered-courses">Cloud Computing</h5>-->
                    <!--            <div class="rating">-->
                    <!--                ★★★★☆ (4.7)-->
                    <!--            </div>-->
                    <!--            <p class="skills">-->
                    <!--                AWS | Azure | Google Cloud-->
                    <!--            </p>-->
                    <!--            <p class="mb-3">Online with Cloud Labs</p>-->
                    <!--            <a href="pages/cloudcomputing.html" class="btn btn-primary explore-btn">Explore Now</a>-->
                    <!--            <a href="pages/cloudcomputing.html" class="btn btn-success buy-btn">Get Started</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                </div>

            </div>
        </section>