<footer class="footer">
            <div class="container">
                <div class="row">
                    <!-- Logo & Contact Info -->
                    <div class="col-md-3">
                        <div class="footer-logo">
                            <img src="images/Logos/CB_LOGO_LATEST.png" alt="Logo" style="width: 160px !important;">
                        </div>
                        <p id="Reachus">Reach Us</p>

                        <i class="fab fa-whatsapp"></i>
                        <a href="https://wa.me/916301099587?text=Hello%20!!.%20 I want to Know About%20to%20codebegun">+91-63010
                            99 587</a></p>
                        <p id="Reachus"><i class="fab fa-whatsapp"></i>
                            <a
                                href="https://wa.me/919392401143?text=Hello%20!!.%I want to Know about %20to%20codebegun">
                                +91-93924 01 143</a>
                        </p>
                        <p id="Reachus"><i class="fab fa-whatsapp"></i> <a
                                href="https://wa.me/919392402848?text=Hello%20!!.%I want to Know about %20to%20codebegun">
                                +91-93924 02 848
                            </a></p>

                        <p id="Reachus"><i class="fas fa-envelope"></i> <a
                                href="mailto:hr@codebegun.com">hr@codebegun.com</a></p>
                    </div>

                    <!-- Quick Links -->
                    <div class="col-md-3 quick-links">
                        <h5>Quick Links</h5>

                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#course-list">Courses</a></li>
                            <li><a href="pages/internships.html">Internship</a></li>
                            <li><a href="#">Challanges</a></li>
                            <li><a href="#">Hire with Us</a></li>
                            <li><a href="#contact-form">Contact Us</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 quick-links">

                        <h5>Courses</h5>
                        <ul>
                            <li><a href="pages/javafullstackmain.html">Java Full Stack</a></li>
                            <li><a href="pages/mernStack.html">MERN Stack</a></li>
                            <li><a href="pages/meanStack.html">MEAN Stack</a></li>
                            <li><a href="pages/pythonfullStack.html">Python Full Stack </a></li>
                            <li><a href="pages/reactJsDevelopment.html">React JS</a></li>
                            <li><a href="pages/angularJsDevelopment.html">Angular Development</a></li>
                            <li><a href="pages/datascience.html">Data Science</a></li>
                            <li><a href="pages/dataAnalytics.html">Data Analytics</a></li>
                            <li><a href="pages/genAI.html">Gen AI</a></li>
                            <li><a href="pages/ai&Ml.html">AI&Ml</a></li>
                            <li><a href="pages/cloudcomputing.html">Cloud Computing</a></li>
                            <li><a href="pages/dotNet.html">.Net FullSatck</a></li>

                        </ul>

                    </div>
                    <div class="col-md-3">

                        <h5>Locations</h5>
                        <h6>Madhapur</h6>

                        <p> Plot No.4, Flat N0.102, SM Reddy Complex, House No.1-98/8/9/A, Madhapur, Hyderabad,
                            Telangana
                            500081</p>

                        <h6>Ameerpet</h6>

                        <p>3rd Floor, Plot No. 47, SAP St, beside Mythrivanam, Kumar Basti, Gayatri Nagar, Srinivasa
                            Nagar,
                            Ameerpet, Hyderabad, Telangana 500016</p>


                    </div>

                </div>
                <hr>

                <div class="row">

                    <div class="col-md-3">
                        <h5>Follow Us</h5>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/share/1ut7vgqnTQdE82tS/" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a href="https://www.linkedin.com/company/codbegun/posts/?feedView=all" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.youtube.com/@CodeBegun" target="_blank"><i
                                    class="fab fa-youtube"></i></a>
                            <a href="https://www.instagram.com/codebegun/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                    <div class="col-md-3 quick-links">
                        <h5></h5>
                        <ul>
                            <li><a href="./pages/privacypolicy.html">Privacy Policy</a></li>
                            <li><a href="./pages/grievance-redressal.html">Grievance Redressal</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 quick-links">
                        <h5></h5>
                        <ul>
                            <li><a href="./pages/cookie-policy.html">Cookie Policy</a></li>
                            <li><a href="./pages/corporate-information.html">Corporate Information</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 quick-links">
                        <h5></h5>
                        <ul>
                            <li><a href="./pages/terms-and-conditions.html">Terms and Conditions</a></li>
                            <li><a href="./pages/vision-and-values.html">Vision and Values</a></li>
                        </ul>
                    </div>

                </div>

                <hr>

                <!-- Course Tracks -->
                <div class="row course-tracks">
                    <div class="col-md-12">
                        <h6>Course Tracks</h6>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li><strong>MERN Stack Developer course:</strong></li>
                            <li><a href="#">Hyderabad</a>, <a href="#">Bangalore</a>, <a href="#">Pune</a>, <a
                                    href="#">Mumbai</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li><strong>Full Stack Developer course:</strong></li>
                            <li><a href="#">Hyderabad</a>, <a href="#">Pune</a>, <a href="#">Delhi</a>, <a
                                    href="#">Chennai</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li><strong>Data Analytics course:</strong></li>
                            <li><a href="#">Hyderabad</a>, <a href="#">Bangalore</a>, <a href="#">Pune</a>, <a
                                    href="#">Delhi</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li><strong>QA / Automation Testing course:</strong></li>
                            <li><a href="#">Bangalore</a>, <a href="#">Hyderabad</a>,<a href="#">Chennai</a>,<a
                                    href="#">Pune</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Bottom -->
                <div class="footer-bottom text-center">
                    <p>&copy; 2024 Savas Tech Solution Pvt Ltd | All Rights Reserved.</p>
                </div>
            </div>
        </footer>