<section class="home-page-image-style">
<div class="responsive">
            <section class="hero-section container">
                <div class="row">
                    <!-- Left Side: Text and CTA -->
                    <div class="col-md-6  hero-left flex-column justify-content-center">
         

                        <h4 id="expert-section">
                            <span
                                style="font-size: medium;  font-family:'Roboto,sans-serif !important'; font-weight: bold; margin-left: 58px;"><strong>L</strong>
                                E A R
                                N</span> <span
                                style="font-size: medium; font-family:'Roboto,sans-serif !important'; font-weight: bold; margin-right: 8px;">f
                                r o
                                m</span>
                            <span id="expert">Experts</span>
                            <br>
                            <span
                                style="font-size: medium;  font-family:'Roboto,sans-serif !important'; font-weight: bold; margin-right: 10px;"><strong>B</strong>
                                U I L D
                            </span>
                            <span
                                style="font-size: medium;  font-family:'Roboto,sans-serif !important'; font-weight: bold; margin-right: 16px;">
                                I n - D e m a n d </span>
                            <span>Skills</span> <br>

                            <span
                                style="font-size: medium;  font-family:'Roboto,sans-serif !important'; font-weight: bold; margin-right: 12px; margin-left: 27px;">
                                <strong>L</strong>
                                A U N C H
                            </span><span
                                style="font-size: medium; font-family:'Roboto,sans-serif !important'; font-weight: bold; margin-right: 5px;">Y
                                o
                                u r</span>
                            <span>Tech Career</span>
                        </h4>

          

                        <section class="mission-vision-section container">
                            <div class="row">
                                <!-- Mission Section -->
                                <div class="col-12 col-md-4">

                                    <div class="stat" id="stat1">
                                        <h2 class="counter" data-target="100">0</h2>
                                        <p>Students Joined</p>
                                    </div>
                               
                                </div>

                                <!-- Vision Section -->
                                <div class="col-12 col-md-4">
                                    <div class="stat" id="stat2">
                                        <h2 class="counter" data-target="80">0</h2>
                                        <p>Placements Achieved</p>
                                    </div>
                              
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="stat" id="stat3">
                                        <h2 class="counter" data-target="1400000">₹0</h2>
                                        <p>Highest Package</p>
                                    </div>
                                </div>
                            </div>
                        </section>



                    </div>
                    <!-- Right Side: Image or Video -->
                    <div class="col-md-5 hero-right d-flex justify-content-center align-items-center img_1">

                        <img src="images/bg-images/bg3.png" alt="Technology Image" class="img-fluid">

                    </div>
                </div>
            </section>
        </div>

    </section>