<!-- Placement Carousel Section -->
        <section class="placement-carousel-section">
            <div class="container">
                <h4>Our Students' Success</h4>

                <div id="placementCarousel" class="carousel slide" data-bs-ride="carousel">

                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#placementCarousel" data-bs-slide-to="0" class="active"
                            aria-current="true"></button>
                        <button type="button" data-bs-target="#placementCarousel" data-bs-slide-to="1"></button>
                    </div>


                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="placement-card">
                                        <img src="images/placement-images/p2.png" alt="John Smith">
                                        <img src="images/Recogniation/wipro.png" alt="wipro Logo" class="company-logo">
                                        <div class="student-info">
                                            <h5>Sri Latha</h5>
                                            <h6>4.5 LPA</h6>
                                            <div class="position-title">Full Stack Developer</div>
                                            <!-- <p>"Don't be scared of the truth because we need to restart the human
                                            foundation."</p> -->
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="placement-card">
                                        <img src="images/placement-images/1.png" alt="Clementine Thson">
                                        <img src="images/Recogniation/accenture.png" alt="accenture Logo"
                                            class="company-logo">
                                        <div class="student-info">
                                            <h5>Raghu C</h5>
                                            <h6>6 LPA</h6>
                                            <div class="position-title">Java Developer</div>

                                        </div>
                                        <!-- <div class="social-icons">
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-dribbble"></i>
                                        <i class="fab fa-instagram"></i>
                                    </div> -->
                                    </div>
                                </div>
                                

                                <div class="col-md-4">
                                    <div class="placement-card">
                                        <img src="images/placement-images/rk.png" alt="Elanor Aline">
                                        <img src="images/Recogniation/infosys.png" alt="Infosys Logo"
                                            class="company-logo">
                                        <div class="student-info">
                                            <h5>Ramakrishna</h5>
                                            <h6>4.5 LPA</h6>
                                            <div class="position-title">Front End Developer</div>
                                            <!-- <p>"Don't be scared of the truth because we need to restart the human
                                            foundation."</p> -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="placement-card">
                                        <img src="images/placement-images/rahul.png" alt="Student Photo">
                                        <img src="images/Recogniation/capgemini.png" alt="Company Logo"
                                            class="company-logo">
                                        <div class="student-info">
                                            <h5>Rahul</h5>
                                            <h6>4.5 LPA</h6>
                                            <div class="position-title">React JS Developer</div>

                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="placement-card">
                                        <img src="images/placement-images/6.png" alt="Student Photo">
                                        <img src="images/Recogniation/sigmasoft.png" alt="Infosys" class="company-logo">
                                        <div class="student-info">
                                            <h5>Srikar</h5>
                                            <h6>8 LPA</h6>
                                            <div class="position-title">Angular Developer</div>

                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="placement-card">
                                        <img src="images/placement-images/5.png" alt="Student Photo">
                                        <img src="images/Recogniation/toshiba.png" alt="Company Logo"
                                            class="company-logo">
                                        <div class="student-info">
                                            <h5>Charan</h5>
                                            <h6>6.5 LPA</h6>
                                            <div class="position-title">Full Satck Developer</div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <button class="carousel-control-prev" type="button" data-bs-target="#placementCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#placementCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>