<section class="pop-up-registration">
  <div class="modal fade" id="registerPopup" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm modal-fullscreen-sm-down">
      <div class="modal-content text-center p-3">

        <button type="button"
                class="btn-close ms-auto"
                data-bs-dismiss="modal"
                aria-label="Close"></button>

        <img src="images/bg-images/bg3.png"
             alt="Register Now"
             class="img-fluid mb-3 popup-img">

        <button class="btn btn-primary w-100 py-2"
                onclick="redirectToRegister()">
          Register Now
        </button>

      </div>
    </div>
  </div>
</section>
