<section class="recognitions-section">
            <div class="container">
                <h4>Recognitions & Memberships</h4>
                <div class="row recognitions-logos d-flex  justify-content-center">

                    <div class="col-md-2 col-4">
                        <img src="images/certificates/skin.png" alt="Skill India Certification">
                    </div>
                    <div class="col-md-2 col-4">
                        <img src="images/imagesmain/nasscom1.webp" alt="NASSCOM Membership">
                    </div>
                    <div class="col-md-2 col-4">
                        <img src="images/certificates/1.png" alt="Skill India">
                    </div>
                    <div class="col-md-2 col-4">
                        <img src="images/imagesmain/iso1.webp" alt="AWS Certified">
                    </div>
                    <div class="col-md-2 col-4">
                        <img src="images/certificates/Untitled design (53).png" alt="Google Partner">
                    </div>
                    <div class="col-md-2 col-4">
                        <img src="images/certificates/msme2.png" alt="MSME" id="emb">
                    </div>
                </div>
            </div>
        </section>